In [1]:
val rdd = sc.parallelize(0 to 999)
rdd.takeSample(false, 5)

Array(707, 930, 525, 975, 517)

In [26]:
val df_weather_predicted = spark.read.format("com.databricks.spark.csv").option("sep", "|").option("header", "false").load("data/IATA_weather_prediction.csv")

In [29]:
df_weather_predicted.head()

[ADL,-34.92110000000002,138.6216,2018-01-01,Moderate,29.48709677419355,1012.8194892473116,37.98454301075269]

In [30]:
val col_names = Seq("IATA_code", "Lat","Lon","Local_Time","Condition","Temperature","Pressure" ,"Humidity")
val df_weather_predicted_col = df_weather_predicted.toDF(col_names: _*)
df_weather_predicted_col.createOrReplaceTempView("df_weather_predicted_col")

In [37]:
val validation_count_airport = spark.sql("select IATA_code, count(*) cnt_results from df_weather_predicted_col group by IATA_code")
validation_count_airport.show()

+---------+-----------+
|IATA_code|cnt_results|
+---------+-----------+
|      BNE|        730|
|      SYD|        730|
|      PER|        730|
|      MEL|        730|
|      OOL|        730|
|      ADL|        730|
|      CBR|        730|
+---------+-----------+

In [36]:
val validation_count = spark.sql("select count(*) cnt_results from df_weather_predicted_col")
validation_count.show()

+-----------+
|cnt_results|
+-----------+
|       5110|
+-----------+

In [42]:
val validation_isnull = spark.sql("select count(*) cnt_results from df_weather_predicted_col where Lat is null or Lon is null")
validation_isnull.show()

+-----------+
|cnt_results|
+-----------+
|          0|
+-----------+

In [ ]:
#query_res.write.csv("data/testing.csv")